<div style="display: flex;">
  <!-- State selection dropdown -->
  <div style="width: 200px;">
    <select (change)="onStateChange($event)">
      <option value="">Please select a state</option>
      <option *ngFor="let state of indianStates" [value]="state">{{ state }}</option>
    </select>
  </div>

  <!-- Google Map component -->
  <div style="flex-grow: 1; margin-top: 50px;">
    <google-map 
      height="600px"
      width="600px"
      [center]="mapCenter"
      [zoom]="mapZoom"
      (mapClick)="addMarker($event)">
      
      <!-- Iterate over markers and display them on the map -->
      <map-marker *ngFor="let marker of filteredMarkers; let i = index" #markerRef="mapMarker"
        [position]="{ lat: marker.lat, lng: marker.lng }" (mapClick)="openInfoWindow(markerRef, marker)">
      </map-marker>

      <!-- Info window content -->
      <map-info-window *ngIf="selectedMarkerInfo" >
        <strong>Name: </strong>{{ selectedMarkerInfo.name }}<br>
        <strong>City:</strong> {{ selectedMarkerInfo.city }}<br>
        <strong>Status:</strong> {{ selectedMarkerInfo.status }}<br>
        <strong>Timestamp:</strong> {{ selectedMarkerInfo.status === 'Active' ? selectedMarkerInfo.timestamp : selectedMarkerInfo.lastActiveTimestamp }}<br>
        <strong>Status:</strong> Active <span class="status-circle active"></span> / Inactive <span class="status-circle inactive"></span>
      </map-info-window>
    </google-map>

    <!-- Display the number of users in the selected state -->
    <div style="position: absolute; top: 20px; right: 20px;">
      <p *ngIf="!selectedState">Please select a state to see users</p>
      <p *ngIf="selectedState">Number of users in {{ selectedState }}: {{ filteredMarkers.length }}</p>
      <p *ngIf="!filteredMarkers.length && selectedState">There are no users present</p>
      <ul *ngIf="filteredMarkers.length && selectedState">
        <li *ngFor="let marker of filteredMarkers">
          {{ marker.name }} - {{ marker.status }}
        </li>
      </ul>
    </div>
  </div>
</div>

