.status-circle {
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%;
    margin-left: 5px; margin-top: 5px; /* Adjust spacing as needed */
    position: relative;
    border: 2px solid black; /* Outer black border */
  }
  
  .active {
    background-color:  green; /* Inner circle color for active status */
  }
  
  .inactive {
    background-color: gray; /* Inner circle color for inactive status */
  }

